<br><br><br>
<h1>Profiles#edit</h1>


	<div class="profileform">	
		<%= form_for @profile, url: user_profile_path(@profile.id, current_user), html: { multipart: true, method: :patch } do |f| %>
		<%=f.label :"Edit Profile" %>
		<%=f.text_field :name, :placeholder => "Name" %>
		<%=f.text_field :email, :placeholder => "Email" %>
		<%=f.text_field :city, :placeholder => "City" %>
		<%=f.file_field :image %>
		<%=f.submit :"Profile Update" %>
			<% end %>
	</div>
