<h1>Profiles#index</h1>


	<%if @user.id == @other.to_i %>
		<% if @user.profile != nil %>	 <!-- Logged in person looking at their own profile && they have a profile -->
			<p><%= @user.profile.name %></p>
			<p><%= @user.profile.email %></p>
			<p><%= @user.profile.city %></p>
			<%= @person %>
		<% else %> <!-- Logged in person looking at their own profile && they do NOT have a profile -->
			<%= form_for 'new_profile', url: '/new_profile', html: { class:'newprofile', multipart: true } do |f| %>
			  <%=f.label :"New Profile" %><br />
			  <%=f.text_area :name, :placeholder => "Name" %>
			  <%=f.text_area :email, :placeholder => "Email" %>
			  <%=f.text_area :city, :placeholder => "City" %>
			  <%= f.file_field :image %>
		  	  <%=f.submit :"Post It" %><% end %>
		<% end %>
	<% else %> 
		<% if @person.profile != nil %>	<!-- Logged in NOT looking at their own profile && other person has profile --> 
			<p><%= @person.profile.name %></p>
			<p><%= @person.profile.email %></p>
			<p><%= @person.profile.city %></p>
		<% else %> <!-- Logged in NOT looking at their own profile && other person does NOT have a profile -->
			<p>No profile to be found here</p>
		<% end %>	
	<% end %>