
<body>
	<%= link_to "Edit", "/users/#{@me.id}/profiles/#{@profile.id}/edit", class: 'editbutton' %>
	<%= link_to "Delete", @profile, :method => :delete, class: 'deletebutton' %>

	<div class="contentbox">
		<div class='profile'>
			<div class="picspot">
				<%= image_tag @profile.image.url(:medium) %>
			</div>

			<div class="profileinfo">
				<h1>My name is:</h1>
				<p>
					<%= @me.profile.name %>
				</p>
				<h1>My email is:</h1>
				<p>
					<%= @me.profile.email %>
				</p>
				<h1>I live in:</h1>
				<p>
					<%= @me.profile.city %>
				</p>
			</div>
			
		</div>

		<div class="myPosts">
			<% @mypost.each do |post| %>
				<ul>
					<li>
						<h6><%= post.title %></h6>
						<p><%= post.content %></p>
					</li>
				</ul>
			<% end %>
		</div>
	</div>			
</body>