<h1>Profiles#new</h1>



	<div class="profileform">	
		<%= form_for 'profile', html: { class:'newprofile', multipart: true } do |f| %>
		  <%=f.label :"New Profile" %>
		  <%=f.text_field :name, :placeholder => "Name" %>
		  <%=f.text_field :email, :placeholder => "Email" %>
		  <%=f.text_field :city, :placeholder => "City" %>
		  <%= f.file_field :image %>
		  <%=f.submit :"Profile Me" %>
		<% end %>
	</div>	


	 <!--, multipart: true  -->