<h1>Profiles#show</h1>

<% if @user.profile != nil %>	  
	<p><%= @user.profile.name %></p>
	<p><%= @user.profile.email %></p>
	<p><%= @user.profile.city %></p>
<% else %>
	<%= form_for 'new_profile', url: '/new_profile', html: { class:'newprofile' } do |f| %>
	  <%=f.label :"New Profile" %><br />
	  <%=f.text_area :name, :placeholder => "Name" %>
	  <%=f.text_area :email, :placeholder => "Email" %>
	  <%=f.text_area :city, :placeholder => "City" %>
  	  <%=f.submit :"Post It" %><% end %>
<% end %>