<body>
		<% if current_user != nil %>
	<%= link_to "POST YOUR BLOG", new_post_path, class: 'makebutton' %>
		<% end %>


	<div class='contentbox'>	

			<% @post.reverse.each do |x| %>
		<div class='posttitles'><%= link_to x.title, x %></div>
		<div class='postby'>by: <%=  User.find_by(id: x.user_id).username %><span><%= x.created_at %></span></div>
		<p class='postprev'><%= truncate(x.content, length: 230, omission: '... (continued)') %></p>
			<% end %>
	</div>

	<div class='userlist'>

		<div>
			<strong>blah</strong>.BLAH.<strong>blog</strong>.<span>users :</span>
					
				<% @list.each do |user| %>
			<a class='peeps' href="/users/<%=user.id %>/profiles/<%= user.profile.id if user.profile %>"><%= user.username %></a>
				<% end %>
	    </div>
	</div>

</body>