<!DOCTYPE html>
<html>
	<head>
		<title>HOME</title>
		<!-- <link rel="stylesheet" type="text/css" href=".css"> -->
		<!-- // <script src='http://code.jquery.com/jquery-2.1.4.js'></script> -->
		<!-- // <script src='.js'></script> -->
		<meta charset="UTF-8">
	</head>
	<body>

		<div class="topbar"></div>

		<div class="title"><strong>blah</strong>.BLAH.<strong>blog</strong></div>

			<div class='corner'>
					<% if @user != "Not logged in" %>
				<%= link_to @user, "/users/#{@myprofile}/profiles", class: 'boxes' %>
				<%= link_to "Log Out", '/logout', class: 'boxes' %>
					<% else %>
				<%= link_to "Sign Up", new_user_path, class: 'boxes' %>
				<%= link_to "Log In", '/login', class: 'boxes' %>
					<% end %>
			</div>


					<% if @user != "Not logged in" %>

		<%= link_to "POST YOUR BLOG", new_post_path, class: 'makebutton' %>
					<% end %>


		<div class='contentbox'>	

				<% @post.reverse.each do |x| %>
			<div class='posttitles'><%= link_to x.title, x %> <span><%= x.created_at %></span></div>
			<p class='postprev'><%= truncate(x.content, length: 400, omission: '... (continued)') %></p>
				<% end %>
		</div>



		<div class='userlist'>
		<div><strong>blah</strong>.BLAH.<strong>blog</strong>.<span>users :</span>
		</div>
			<ul>
					<% @list.each do |user| %>
				<li>
					<form method="GET" action="<%= "/users/#{user.id}/profiles" %>">
						<input type="submit" value="<%= user.username %>" />
					</form>
				</li>
					<% end %>
			<ul>
		</div>

	</body>
</html>
