<body>
	<div class='contentbox'>

		<%= form_for @post, html: { class:'editpost' } do |f| %>
		<%=f.text_field :title, :placeholder => "Title" %> <br>
		<p class="editby">by: <%= current_user.username %></p>
		<%=f.text_area :content, :placeholder => "Content" %> <br>
		<%=f.submit :"Edit Post" %>
		<% end %>

	</div>

	<div class='commentsection'>
			<%= form_for :comment, url: "/posts/#{@post.id}/comments", html: { class:'newcomment' } do |f| %>
		<%=f.label :"Care to Comment?" %><br />
		<%=f.text_area :content, :placeholder => "Go ahead..." %><br>
		<%=f.submit :"Comment" %>
			<% end %>

		<h2>Comments</h2>

			<% @post.comments.each do |x| %>	
		<div class='com'>
			<div class='comuser'><%= x.user.username if x.user %>-</div>
			<div class='comcontent'><%= x.content %></div>
		</div>
			<% end %>
	</div>
</body>
