<body>
	<div class='contentbox'>

		<%= form_for @post, html: { class:'newpost' } do |f| %>
		<%=f.text_field :title, :placeholder => "Title" %> <br>
		<p class="newby">by: <%= current_user.username %></p>
		<%=f.text_area :content, :placeholder => "Content" %> <br>
		<%=f.submit :"Post It" %>
		<% end %>

	</div>

	<div class='commentsection'>
	</div>
</body>