<!DOCTYPE html>
<html>
	<head>
		<title>HOME</title>
		<!-- <link rel="stylesheet" type="text/css" href=".css"> -->
		<!-- // <script src='http://code.jquery.com/jquery-2.1.4.js'></script> -->
		<!-- // <script src='.js'></script> -->
		<meta charset="UTF-8">
	</head>
	<body>

		<div>
			NOPE
		</div>
		
		<h1><%= @post.title %></h1>
		<p><%= @post.content %></p>

		<%= link_to "Edit this Post", edit_post_path %>
		<%= link_to "Delete this Post", @post, :method => :delete %>


		<%= form_for ([@post, @post.comments.build]), html: { class:'newcomment' } do |f| %>
		  <%=f.label :"New Comment" %><br />
		  <%=f.text_area :content, :placeholder => "Content" %>
		  <%=f.submit :"Post It" %>
		<% end %>

		<% @post.comments.each do |f| %>
		<%= f.content %>
		<% end %>


	</body>
</html>
