<body>	
		<% if @sessionid == @author %>
	<%= link_to "Edit this Post", edit_post_path, class: 'editbutton' %>
	<%= link_to "Delete this Post", @post, :method => :delete, class: 'deletebutton' %>
		<% end %>

	<div class='contentbox'>
		<h1 class='showtitle'><%= @post.title %></h1>
		<p class="showby">by: <%= @postby %></p>
		<p class='showcontent'><%= @post.content %></p>
	</div>

	<div class='commentsection'>
			<%= form_for ([@post, @post.comments.build]), html: { class:'newcomment' } do |f| %>
		<%=f.label :"Care to Comment?" %><br />
		<%=f.text_area :content, :placeholder => "Go ahead..." %><br>
		<%=f.submit :"Comment" %>
			<% end %>

		<h2>Comments</h2>

			<% @post.comments.reverse[1..(@post.comments.length)].each do |x| %>	
		<div class='com'>
			<div class='comuser'><%= x.user.username %>-</div>
			<div class='comcontent'><%= x.content %></div>
		</div>
			<% end %>
	</div>
</body>