<body>	
		<% if @sessionid == @author %>
	<%= link_to "Edit this Post", edit_post_path, class: 'editbutton' %>
	<%= link_to "Delete this Post", @post, :method => :delete, class: 'deletebutton' %>
		<% end %>

	<div class='contentbox'>
		<h1 class='showtitle'><%= @post.title %></h1>
		<p class="showby">by: <%= @postby %></p>
		<p class='showcontent'><%= @post.content %></p>
	</div>

	<div class='commentsection'>
			<%= form_for :comment, url: "/posts/#{@post.id}/comments", html: { class:'newcomment' } do |f| %>
		<%=f.label :"Care to Comment?" %><br />
		<%=f.text_area :content, :placeholder => "Go ahead..." %><br>
		<%=f.submit :"Comment" %>
			<% end %>

		<h2>Comments</h2>

			<% @post.comments.each do |x| %>	
				<% if x.user 
				 	comby = x.user.username
				 else 
				 	comby = "<em style='color:grey;'>anonymous</em>".html_safe
				 end %>
		<div class='com'>
			<div class='comuser'><%= comby %>-</div>
			<div class='comcontent'><%= x.content %></div>
		</div>
			<% end %>
	</div>
</body>